<!DOCTYPE html>
<html>
<head>
<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>JS Bin</title>

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="../css/style.css">

  <script type="text/javascript">
      $(document).ready(function(){        
        $('.modal-trigger').leanModal();
      });
  </script>
</head>
<body>


  <div class="caption center-align">
    <div >
        <div class="center-align">
            <div class="dialog-panel">
                
                <div class="row menu-row">
                    <a class="waves-effect waves-light btn-large modal-trigger first-row-menu" href="#modal1">
                      <i class="material-icons center module-menu">
                        <img src="../img/escritura_modulo.png" class="md100-img" alt="escritura">
                      </i>

                    </a>
                    <a class="waves-effect white btn-large first2-row-menu">
                      <i class="material-icons center module-menu">
                        <img src="../img/necesidades_modulo.png" class="md100-img" alt="escritura">
                      </i>
                    </a>
                </div>

                <div class="row menu-row">                  
                    <a class="waves-effect white btn-large second-row-menu">
                      <i class="material-icons center module-menu">
                        <img src="../img/notifications-modulo.png" class="md90-img" alt="escritura">
                      </i>
                    </a>
                    <a class="waves-effect white btn-large second2-row-menu">
                      <i class="material-icons center module-menu">
                        <img src="../img/entretenimiento_modulo.png" class="md100-img" alt="escritura">
                      </i>
                    </a>
                    <a class="waves-effect white btn-large second2-row-menu">
                      <i class="material-icons center module-menu">
                        <img src="../img/mensajesg_modulo.png" class="md110-img" alt="escritura">
                      </i>
                    </a>
                </div>
            </div> 
        </div>       
    </div>    
  </div>



  <div class="row menu-row center">
    <!-- Modal Config Audio Trigger -->
    <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Sistema ALIS</a>

    <!-- Modal Config Audio -->
    <div id="modal1" class="modal center">
        <div class="modal-content">
          <h5><b>Configurar audio</b></h5>
          <a class="waves-effect white btn-large config-audio" href="modulo_escritura.html">
            <i class="material-icons center module-menu">
              <img src="../img/config_no_audio.png" class="md100-img">
            </i>
          </a>
        </div>

        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect wave-light btn-large left">
            <i class="material-icons center">
              <img src="../img/back.png" class="md60-img">
            </i>
          </a>            
        </div>
    </div>
  <div>



    <!--ul id="dropdown2" class="dropdown-content">
          <li><a href="#!">one<span class="badge">1</span></a></li>
          <li><a href="#!">two<span class="new badge">1</span></a></li>
          <li><a href="#!">three</a></li>
      </ul>
      <a class="btn dropdown-button" href="#!" data-activates="dropdown2">Dropdown<i class="mdi-navigation-arrow-drop-down right"></i></a-->
  
</body>
</html>
