<!DOCTYPE html>
<html>
<head>
<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>JS Bin</title>

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="../css/style.css">

  <script type="text/javascript">
      $(document).ready(function(){
        // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
        $('.modal-trigger').leanModal();
      });
  </script>
</head>
<body>


    <div class="caption center-align">
        <div >
            <div class="center-align">
                <div class="texto-escritura">
                    <div class="row">
                      <form class="col s12">
                        <div class="row">
                          <div class="input-field col s12">
                            <textarea id="textarea1" class="materialize-textarea text-size"></textarea>
                            <label for="textarea1">ESCRITO</label>
                          </div>
                        </div>
                      </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="texto-escritura">
       <table>          
            <tr>
              <td>Alvin</td>
              <td>Eclair</td>
              <td>$0.87</td>
              <td>$0.87</td>
            </tr>
            <tr>
              <td>Alan</td>
              <td>Jellybean</td>
              <td>$3.76</td>
              <td>$3.76</td>
            </tr>
            <tr>
              <td>Jonathan</td>
              <td>Lollipop</td>
              <td>$7.00</td>
              <td>$7.00</td>
            </tr>
            <tr>
              <td>Jonathan</td>
              <td>Lollipop</td>
              <td>$7.00</td>
              <td>$7.00</td>
            </tr>
        </table>

        <div class="row center-letter">
            <a class="waves-effect white btn-large center letter-div">
              <i class="material-icons module-menu">Q</i>
            </a>

            <a class="waves-effect white btn-large center letter-div">
              <i class="material-icons module-menu">W</i>
            </a>

            <a class="waves-effect white btn-large center letter-div">
              <i class="material-icons module-menu">E</i>
            </a>

            <a class="waves-effect white btn-large center letter-div">
              <i class="material-icons module-menu">T</i>
            </a>
            <a class="waves-effect white btn-large center letter-div">
              <i class="material-icons module-menu">Y</i>
            </a>

            <a class="waves-effect white btn-large center letter-div">
            <i class="material-icons module-menu">Y</i>
            </a>

            <a class="waves-effect white btn-large center letter-div">
            <i class="material-icons module-menu">Y</i>
            </a>

            <a class="waves-effect white btn-large center letter-div">
            <i class="material-icons module-menu">Y</i>
            </a>

            <a class="waves-effect white btn-large center letter-div">
            <i class="material-icons module-menu">Y</i>
            </a>

            <a class="waves-effect white btn-large center letter-div">
            <i class="material-icons module-menu">Y</i>
            </a>
        </div>

          <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect wave-light btn-large left">
              <i class="material-icons center">
                <img src="../img/back.png" class="md60-img">
              </i>
            </a>            
          </div>

      </div>        
</body>
</html>
