<% include ../header.html %>
<%
	var keys =[
		['e','a','o','i','u','l','s','r','n','m'],
		['p','c','t','b','g','d','f','v'],
		['h','j','k','ñ','y','q','w','z','x']
	];

%>
<script>
var dictationTimer = <%= parseFloat(dictationTimer)*1000 %>
</script>
<div class='menuAuto menuContext' data-audio='haz-click-para-comenzar-el-dictado' >
  <div class="well">
  	<p class='text-center h3'>Haz click para comenzar el dictado</p>
    <p id="textArea" class='text-uppercase'>
    	<span id='boxMsg'></span>
    	<span id='pointer'>|</span>
    </p>
	<div id="keyboard">
			<% aux = 0; %>
		<% for(var f in keys){ %>
		<div class='text-center'>
			<% for(var key in keys[f]){ %>
				<button data-key='<%= keys[f][key] %>' type='button' class='keyOption text-uppercase btn btn-sm btn-default'>
					<%= keys[f][key] %>
				</button>
			<% aux++; } %>
		</div>
		<% } %>
		<div class="text-center">
			<% for(var n=0;n<10;n++){ %>
				<button data-key='<%= n %>' type='button' class='keyOption text-uppercase btn btn-sm btn-default'>
					<%= n %>
				</button>
			<% } %>
		</div>
	</div>
</div>
<div class="text-center">
	<a href="/" class='btn btn-danger returnButton'><i class='fa fa-2x fa-share fa-rotate-180'></i></a>
</div>
</div>
<!-- modal al seleccionar letra -->
<div id='keyboardMenuModal' data-audio='opciones-de-mensaje' class="modal fade menuContext">
	<div class="modal-body text-center">
		<button type='button' id='showSuggests' data-toggle='modal' data-target='#suggestsModal' class='btn btn-default menuOption' data-audio="sugerencias">
			<img src="/images/sugerencias.png" >
			<span>Sugerencias</span>
		</button>
		<br>
		<br>
		<button id='finishWord' onclick="finishWord()" type='button' class='btn btn-default menuOption' data-audio="terminar-palabra">
        	<img src="/images/terminar_palabra.png" >
        	<span>Terminar Palabra</span>
		</button>
		<br>
		<br>
		<button type='button' data-target='#outputMenuModal' data-toggle='modal' class='btn btn-default menuOption' data-audio="finalizar-mensaje">
			<img src="/images/finalizar_mensaje.png" >
			<span>Finalizar Mensaje</span>
		</button>
		<br>
		<br>
		<button onclick="deleteWord()" type='button' class='btn btn-default menuOption' data-audio="eliminar-palabra">
        	<img src="/images/eliminar_palabra.png" >
        	<span>Eliminar Palabra</span>
		</button>
	</div>
	<div class="modal-footer">
	    <div class="text-left">
	        <button type='button' class='returnButton brn-xs btn btn-danger' data-dismiss='modal'><i class='fa fa-2x fa-share fa-rotate-180'></i></button>
	    </div>
  	</div>
</div>
<!-- sugerencias -->
<div id='suggestsModal' data-audio='selecciona-una-sugerencia' data-width='400px' class="modal fade menuContext">
	<div class="modal-header">
		<h3 class='modal-title'>Selecciona una sugerencia</h3>
	</div>
	<div class="modal-body"></div>
	<div class="modal-footer">
    <div class="text-left">
        <button type='button' class='returnButton brn-xs btn btn-danger' data-dismiss='modal'><i class='fa fa-2x fa-share fa-rotate-180'></i></button>
    </div>
  </div>
</div>
<!-- confirmación de sugerencia -->
<div id='confirmSuggest' data-default-option='0' class="modal fade menuContext">
 	<div class="modal-body text-center">
		<h3 class='modal-title'>Confirma sugerencia</h3>
		<h2>"HOLA"</h2>
		<button type='button' onclick="confirmSuggest(this)" class='btn btn-lg btn-default menuOption'><i class='fa fa-check fa-3x'></i><br>Confirmar</button>
	</div>
	<div class="modal-footer">
	    <div class="text-left">
	        <button type='button' class='returnButton brn-xs btn btn-danger' data-dismiss='modal'><i class='fa fa-2x fa-share fa-rotate-180'></i></button>
	    </div>
	</div>
</div>
<% var extraJs = 'dictado'; %>
<% include ../footer.html %>