<% include header.html %>
<%
	var keys =[
		['q','w','e','r','t','y','u','i','o','p'],
	 	['a','s','d','f','g','h','j','k','l','ñ'],
		['z','x','c','v','b','n','m'],
	];
%>
<div id='keyboard'>
  <div class="well">
  	<p class='alert text-center h3'>Has click para comenzar el dictado</p>
    <p id="textArea">|</p>
<!--   <div id="suggestions">
  	<table class='table table-bordered'>
  		<tbody>
  			<tr>
  				<td>Sugerencia</td>
  				<td>Sugerencia</td>
  				<td>Sugerencia</td>
  				<td>Sugerencia</td>
  				<td>Sugerencia</td>
  				<td>Sugerencia</td>
  			</tr>
  			<tr>
  				<td>Sugerencia</td>
  				<td>Sugerencia</td>
  				<td>Sugerencia</td>
  				<td>Sugerencia</td>
  				<td>Sugerencia</td>
  				<td>Sugerencia</td>
  			</tr>
  		</tbody>
  	</table>
  </div> -->
	<!-- teclado -->
	<div id="keyboard">
		<% for(var f in keys){ %>
		<div class='text-center'>
			<% for(var l in keys[f]){ %>
				<button data-key='<%= keys[f][l] %>' type='button' class='keyOption text-uppercase btn btn-sm btn-default'>
					<%= keys[f][l] %>
				</button>
			<% } %>
		</div>
		<% } %>
		<div class="text-center">
			<% for(var n=0;n<10;n++){ %>
				<button data-key='<%= n %>' type='button' class='keyOption text-uppercase btn btn-sm btn-default'>
					<%= n %>
				</button>
			<% } %>
		</div>
	</div>
</div>
	<a href="/" class='btn btn-danger returnButton'><i class='fa fa-2x fa-share fa-rotate-180'></i></a>
  </div>
<div id='keyboardMenu' class="modal fade menuContext">
	<div class="modal-body">
		<div class="row">
			<div class="col-xs-6">
				<a href="#" class='btn btn-default menuOption'>
					<img src="/images/sugerencias.png" class="md80-img">
					Sugerencias
				</a>
			</div>
			<div class="col-xs-6">
				<a href="#" class='btn btn-default menuOption'>
		        	<img src="/images/terminar_palabra.png" class="md80-img">
		        	Terminar P
				</a>
			</div>
			<div class="col-xs-6">
				<a href="#" class='btn btn-default menuOption'>
					<img src="/images/finalizar_mensaje.png" class="md80-img">
					Finalizar M
				</a>
			</div>
			<div class="col-xs-6">
				<a href="#" class='btn btn-default menuOption'>
		        	<img src="/images/eliminar_palabra.png" class="md80-img">
		        	Eliminar P
				</a>
			</div>
		</div>
	</div>
</div>
<% var extraJs = extraJs; %>
<% include footer.html %>