<% include header %>
    <div class="caption center-align">
        <div >
            <div class="center-align">
                <div class="texto-escritura">
                    <div class="row row-em">
                      <form class="col s12">
                        <div class="row row-em">
                          <div class="input-field col s12">
                            <textarea id="textarea1" class="materialize-textarea text-size"></textarea>
                            <label for="textarea1">ESCRITO</label>
                          </div>
                        </div>
                      </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="sugenrencia">
       <table>          
            <tr>
              <td>Segerencia 1</td>
              <td>Segerencia 2</td>
              <td>Segerencia 3</td>
              <td>Segerencia 4</td>
            </tr>
            <tr>
              <td>Segerencia 5</td>
              <td>Segerencia 6</td>
              <td>Segerencia 7</td>
              <td>Segerencia 8</td>
            </tr>           
        </table>        

      </div>    

      <div class="div-letter center">
        <div class="row row-em center-letter">
            <a class="waves-effect white btn-large letter_me modal-trigger " href="#modal2">
              <i class="material-icons module-menu i-letter"><b>Q</b></i>
            </a>

            <a class="waves-effect white btn-large letter_me modal-trigger" href="#modal2">
              <i class="material-icons module-menu i-letter"><b>W</b></i>
            </a>

            <a class="waves-effect white btn-large letter_me modal-trigger " href="#modal2">
              <i class="material-icons module-menu i-letter"><b>E</b></i>
            </a>

            <a class="waves-effect white btn-large letter_me modal-trigger " href="#modal2">
              <i class="material-icons module-menu i-letter"><b>T</b></i>
            </a>
            <a class="waves-effect white btn-large letter_me modal-trigger " href="#modal2">
              <i class="material-icons module-menu i-letter"><b>Y</b></i>
            </a>

            <a class="waves-effect white btn-large letter_me modal-trigger " href="#modal2">
            <i class="material-icons module-menu i-letter"><b>Y</b></i>
            </a>

            <a class="waves-effect white btn-large letter_me modal-trigger " href="#modal2">
            <i class="material-icons module-menu i-letter"><b>U</b></i>
            </a>

            <a class="waves-effect white btn-large letter_me modal-trigger " href="#modal2">
            <i class="material-icons module-menu i-letter"><b>I</b></i>
            </a>

            <a class="waves-effect white btn-large letter_me modal-trigger " href="#modal2">
            <i class="material-icons module-menu i-letter"><b>O</b></i>
            </a>

            <a class="waves-effect white btn-large letter_me" modal-trigger  href="#modal2">
            <i class="material-icons module-menu"><b>P</b></i>
            </a>
        </div>

        <div class="row row-em center-letter">
            <a class="waves-effect white btn-large letter_me">
              <i class="material-icons module-menu i-letter"><b>A</b></i>
            </a>

            <a class="waves-effect white btn-large letter_me">
              <i class="material-icons module-menu i-letter"><b>S</b></i>
            </a>

            <a class="waves-effect white btn-large letter_me">
              <i class="material-icons module-menu i-letter"><b>D</b></i>
            </a>

            <a class="waves-effect white btn-large letter_me">
              <i class="material-icons module-menu i-letter"><b>F</b></i>
            </a>
            <a class="waves-effect white btn-large letter_me">
              <i class="material-icons module-menu i-letter"><b>G</b></i>
            </a>

            <a class="waves-effect white btn-large letter_me">
            <i class="material-icons module-menu i-letter"><b>H</b></i>
            </a>

            <a class="waves-effect white btn-large letter_me">
            <i class="material-icons module-menu i-letter"><b>J</b></i>
            </a>

            <a class="waves-effect white btn-large letter_me">
            <i class="material-icons module-menu i-letter"><b>K</b></i>
            </a>

            <a class="waves-effect white btn-large letter_me">
            <i class="material-icons module-menu i-letter"><b>L</b></i>
            </a>

            <a class="waves-effect white btn-large letter_me">
            <i class="material-icons module-menu"><b>Ñ</b></i>
            </a>
        </div>  

        <div class="row row-em center-letter">
            <a class="waves-effect white btn-large letter_me">
              <i class="material-icons module-menu i-letter"><b>Z</b></i>
            </a>

            <a class="waves-effect white btn-large letter_me">
              <i class="material-icons module-menu i-letter"><b>X</b></i>
            </a>

            <a class="waves-effect white btn-large letter_me">
              <i class="material-icons module-menu i-letter"><b>C</b></i>
            </a>

            <a class="waves-effect white btn-large letter_me">
              <i class="material-icons module-menu i-letter"><b>V</b></i>
            </a>
            <a class="waves-effect white btn-large letter_me">
              <i class="material-icons module-menu i-letter"><b>B</b></i>
            </a>

            <a class="waves-effect white btn-large letter_me">
            <i class="material-icons module-menu i-letter"><b>N<b></i>
            </a>

            <a class="waves-effect white btn-large letter_me">
            <i class="material-icons module-menu i-letter"><b>M</b></i>
            </a>

            <a class="waves-effect white btn-large letter_me">
            <i class="material-icons module-menu i-letter"><b>,</b></i>
            </a>

            <a class="waves-effect white btn-large letter_me">
            <i class="material-icons module-menu i-letter"><b>.</b></i>
            </a>

            <a class="waves-effect white btn-large opt-suprimir">
            <b>Supr</b>
            </a>
        </div>    

          <div class="row row-em center-letter">
            <a class="waves-effect btn-large letter_number">1</a>
            <a class="waves-effect btn-large letter_number">2</a>
            <a class="waves-effect btn-large letter_number">3</a>
            <a class="waves-effect btn-large letter_number">4</a>
            <a class="waves-effect btn-large letter_number">5</a>
            <a class="waves-effect btn-large letter_number">6</a>
            <a class="waves-effect btn-large letter_number">7</a>
            <a class="waves-effect btn-large letter_number">8</a>
            <a class="waves-effect btn-large letter_number">9</a>
            <a class="waves-effect btn-large letter_number">0</a>
        </div><br>


            <div class="modal-footer">
            <a href="/" class="modal-close waves-effect wave-light btn-large left">
              <i class="material-icons center">
                <img src="/images/back.png" class="md60-img">
              </i>
            </a>            
          </div>
      </div>    


      <div class="center">    
      <!-- Modal menu escritura -->
      <div id="modal2" class="modal modal-escritura center">
        <div class="row">
          <div class="modal-content center">
            <a class="waves-effect white btn-large option-escritura">
              <i class="center">
                <img src="/images/sugerencias.png" class="md80-img">
              </i>
              <div class="name-option"><b>SUGERENCIAS<b></div>
            </a>


            <a class="waves-effect white btn-large option-escritura">
              <i class="material-icons center">            
                <img src="/images/terminar_palabra.png" class="md80-img">
              </i>
              <div class="name-option"><b>TERMINAR P<b></div>
            </a>

          </div>
          <div class="row">
            <a class="waves-effect white btn-large option-escritura">
              <i class="material-icons center">
                <img src="/images/finalizar_mensaje.png" class="md80-img">
              </i>
              <div class="name-extend"><b>FINALIZAR M<b></div>
            </a>

            <a class="waves-effect white btn-large option-escritura">
              <i class="material-icons center">
                <img src="/images/eliminar_palabra.png" class="md80-img">
              </i>
              <div class="name-option"><b>ELIMINAR P.<b></div>
            </a>
          </div>
        </div>

        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect wave-light btn-large left">
            <i class="material-icons center">
              <img src="/images/back.png" class="md60-img">
            </i>
          </a>            
        </div>
          
      </div>
    <div>
<% include footer %>