<% include header.html %>
<%
	var keys =[
		{'q':17,'w':23,'e':4,'r':18,'t':20,'y':25,'u':21,'i':8,'o':15,'p':16},
	 	{'a':0,'s':19,'d':3,'f':5,'g':6,'h':7,'j':9,'k':10,'l':11,'ñ':14},
		{'z':26,'x':24,'c':2,'v':22,'b':1,'n':13,'m':12},
	];
%>
<div class='menuAuto'>
  <div class="well">
  	<p class='alert text-center h3'>Has click para comenzar el dictado</p>
    <p id="textArea" class='text-uppercase'>|</p>
	<div id="keyboard">
		<% for(var f in keys){ %>
		<div class='text-center'>
			<% for(var key in keys[f]){ %>
				<button data-key='<%= key %>' data-order='<%= keys[f][key] %>' type='button' class='keyOption text-uppercase btn btn-sm btn-default'>
					<%= key %>
				</button>
			<% } %>
		</div>
		<% } %>
		<div class="text-center">
			<% for(var n=0;n<10;n++){ %>
				<button data-key='<%= n %>' data-order='<%= n+27 %>' type='button' class='keyOption text-uppercase btn btn-sm btn-default'>
					<%= n %>
				</button>
			<% } %>
		</div>
	</div>
</div>
	<a href="/" class='btn btn-danger returnButton'><i class='fa fa-2x fa-share fa-rotate-180'></i></a>
</div>
<!-- modal al seleccionar letra -->
<div id='keyboardMenuModal' class="modal fade menuContext">
	<div class="modal-body">
		<div class="row">
			<div class="col-xs-6">
				<button id='showSuggests' type='button' class='btn btn-default menuOption'>
					<img src="/images/sugerencias.png" >
					<span>Sugerencias</span>
				</button>
			</div>
			<div class="col-xs-6">
				<button id='finishWord' type='button' class='btn btn-default menuOption'>
		        	<img src="/images/terminar_palabra.png" >
		        	<span>Terminar P</span>
				</button>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-xs-6">
				<button id='finishMessage' type='button' class='btn btn-default menuOption'>
					<img src="/images/finalizar_mensaje.png" >
					<span>Finalizar M</span>
				</button>
			</div>
			<div class="col-xs-6">
				<button id='deleteWord' type='button' class='btn btn-default menuOption'>
		        	<img src="/images/eliminar_palabra.png" >
		        	<span>Eliminar P</span>
				</button>
			</div>
		</div>
	</div>
	<div class="modal-footer">
    <div class="text-left">
        <button type='button' class='returnButton brn-xs btn btn-danger' data-dismiss='modal'><i class='fa fa-2x fa-share fa-rotate-180'></i></button>
    </div>
  </div>
</div>
<!-- sugerencias -->
<div id='suggestsModal' data-width='400px' class="modal fade menuContext">
	<div class="modal-header">
		<h3 class='modal-title'>Selecciona una sugerencia</h3>
	</div>
	<div class="modal-body">
		<button type='button' class='menuOption btn btn-default btn-xs' data-word='hola'>hola</button>
	</div>
	<div class="modal-footer">
    <div class="text-left">
        <button type='button' class='returnButton brn-xs btn btn-danger' data-dismiss='modal'><i class='fa fa-2x fa-share fa-rotate-180'></i></button>
    </div>
  </div>
</div>
<!-- confirmacion de sugerencia -->
<div id='confirmSuggest' class="modal fade menuContext">
 	<div class="modal-body text-center">
		<h3 class='modal-title'>Confirma sugerencia</h3>
		<h2>"HOLA"</h2>
		<button type='button' class='btn btn-lg btn-default menuOption optionSelected'><i class='fa fa-check fa-3x'></i><br>Confirmar</button>
	</div>
	<div class="modal-footer">
	    <div class="text-left">
	        <button type='button' class='returnButton brn-xs btn btn-danger' data-dismiss='modal'><i class='fa fa-2x fa-share fa-rotate-180'></i></button>
	    </div>
	</div>
</div>
<!-- modal de finalizar mensajes -->
<div id='outputMenuModal' class="modal fade menuContext">
	<div class="modal-body">
		<div class="row">
			<div class="col-xs-6">
				<button id='showMonitor' type='button' class='btn btn-default menuOption'>
					<img src="/images/mostrar.png" >
					<span>Mostrar</span>
				</button>
			</div>
			<div class="col-xs-6">
				<button id='sendTelegram' type='button' class='btn btn-default menuOption'>
		        	<img src="/images/telegram.png" >
		        	<span>Enviar</span>
				</button>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-xs-6">
				<button id='saveMessage' type='button' class='btn btn-default menuOption'>
					<img src="/images/guardar.png" >
					<span>Guardar</span>
				</button>
			</div>
		</div>
	</div>
	<div class="modal-footer">
    <div class="text-left">
        <button type='button' class='returnButton brn-xs btn btn-danger' data-dismiss='modal'><i class='fa fa-2x fa-share fa-rotate-180'></i></button>
    </div>
  </div>
</div>
<!-- modal de salidas de pantalla -->
<div id='monitorMenuModal' class="modal fade menuContext">
	<div class="modal-body">
		<div class="row">
			<div class="col-xs-6">
				<button id='showMonitorPublic' type='button' class='btn btn-default menuOption'>
					<img src="/images/mostrar.png" >
					<span>Mostrar</span>
				</button>
			</div>
			<div class="col-xs-6">
				<button id='sendTelegram' type='button' class='btn btn-default menuOption'>
		        	<img src="/images/telegram.png" >
		        	<span>Enviar</span>
				</button>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-xs-6">
				<button id='saveMessage' type='button' class='btn btn-default menuOption'>
					<img src="/images/guardar.png" >
					<span>Guardar</span>
				</button>
			</div>
		</div>
	</div>
	<div class="modal-footer">
    <div class="text-left">
        <button type='button' class='returnButton brn-xs btn btn-danger' data-dismiss='modal'><i class='fa fa-2x fa-share fa-rotate-180'></i></button>
    </div>
  </div>
</div>
<% var extraJs = 'dictado'; %>
<% include footer.html %>