</div>
<script src='/jquery/dist/jquery.min.js'></script>
<script src='/bootstrap/dist/js/bootstrap.min.js'></script>
<!-- <script src='/Materialize/dist/js/materialize.min.js'></script> -->
<script src='/js/bootstrap-modal.js'></script>
<script src='/js/bootstrap-modalmanager.js'></script>
<script src="/socket.io/socket.io.js"></script>
<% console.log(typeof extraJs != 'undefined'); %>
<% if(typeof extraJs != 'undefined'){ %>
	<script src='/js/<%= extraJs %>.js'></script>
<% }else{ %>
	<script src='/js/main.js'></script>
<% } %>
</body>
</html>