<!DOCTYPE html>
<html>
  <head>
    <title>Sistema Alis</title>
    
    <link rel='stylesheet' href='/css/jquery-ui.css' />
    <link rel='stylesheet' href='/css/style.css' />
    <script type="text/javascript" src='/jquery/dist/jquery.min.js'></script>
    <script type="text/javascript" src='/jquery/dist/jquery.min.js'></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
<header>
  <div id='testSignals'>
    <ul>
        <li><a href='#' id='testSignal1' class='btn btn-primary'><i class='fa fa-arrows'></i></a></li>
        <li><a href='#' id='testSignal2' class='btn btn-primary'><i class='fa fa-hand-pointer-o'></i></a></li>
        <li><a href='#' id='testSignal3' class='btn btn-primary'><i class='fa fa-share fa-rotate-180'></i></a></li>
      </ul>
  </div>
  <nav id='main-nav' class="navbar navbar-default navbar-centered">
    <div class="container-fluid">
      <div class="navbar-header">
          <a class="navbar-brand" href="#">ALIS</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href='#' id='signal1' class='btn btn-primary'><i class='fa fa-2x fa-arrows'></i></a></li>
        <li><a href='#' id='signal2' class='btn btn-primary'><i class='fa fa-2x fa-hand-pointer-o'></i></a></li>
        <li><a href='#' id='signal3' class='btn btn-primary'><i class='fa fa-2x fa-share fa-rotate-180'></i></a></li>
      </ul>
    </div>
  </nav>
</header>
  <div class='container'>