  <div class="caption center-align">
    <div >
        <div class="center-align menu-context menu-default">
            <div class="dialog-panel">
                <div class="row menu-row">
                    <a class="menu-option option-selected waves-effect waves-light btn-large modal-trigger first-row-menu white" href="#modal1">
                      <i class="material-icons center module-menu">
                      </i>

                    </a>
                    <a class="menu-option waves-effect white btn-large first2-row-menu">
                      <i class="material-icons center module-menu">
                      </i>
                    </a>
                </div>

                <div class="row menu-row">                  
                    <a class="menu-option waves-effect white btn-large second-row-menu">
                      <i class="material-icons center module-menu">
                        <img src="/images/notifications-modulo.png" class="md90-img" alt="escritura">
                      </i>
                    </a>
                    <a class="menu-option waves-effect white btn-large second2-row-menu">
                      <i class="material-icons center module-menu">
                        <img src="/images/entretenimiento_modulo.png" class="md100-img" alt="escritura">
                      </i>
                    </a>
                    <a class="menu-option waves-effect white btn-large second2-row-menu">
                      <i class="material-icons center module-menu">
                        <img src="/images/mensajesg_modulo.png" class="md110-img" alt="escritura">
                      </i>
                    </a>
                </div>
            </div> 
        </div>       
    </div>    
  </div>
  <div class="row menu-row center">
    <!-- Modal Config Audio Trigger -->
    <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Sistema ALIS</a>
  </div>
  <!-- Modal Config Audio -->
  <div id="modal1" class="modal center menu-context">
      <div class="modal-content">
        <h5><b>Configurar audio</b></h5>
        <a class="menu-option link-option option-selected waves-effect white btn-large config-audio" href="/dictado">
          <i class="material-icons center module-menu">
            <img src="/images/config_no_audio.png" class="md100-img">
          </i>
        </a>
      </div>

      <div class="modal-footer">
        <a href="#!" class="modal-close return-button waves-effect wave-light btn-large left yellow">
          <i class="material-icons center">
            <img src="/images/back.png" class="md60-img">
          </i>
        </a>            
      </div>
  </div>