<% include header.html %>
<script>
  localStorage.setItem("audio",true);
</script>
<div class="menuContext text-center">
  <div class="row">
    <div class="col-xs-4 col-xs-offset-2">
      <a href='#audioConfigModal' data-toggle='modal' class='btn menuOption btn-default' data-textAudio="Dictado">
        <img src="/images/escritura_modulo.png">
      </a>
    </div>
    <div class="col-xs-4">
      <a href='' class='btn menuOption btn-default' data-textAudio="Necesidades, básicas">
        <img src="/images/necesidades_modulo.png">
      </a>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-4">
      <a href='' class='btn menuOption btn-default' data-textAudio="Notificaciones">
        <img src="/images/notifications-modulo.png">
      </a>
    </div>
    <div class="col-xs-4">
      <a href='' class='btn menuOption btn-default' data-textAudio="Entretenimiento">
        <img src="/images/entretenimiento_modulo.png">
      </a>
    </div>
    <div class="col-xs-4">
      <a href='' class='btn menuOption btn-default' data-textAudio="Mensajes guardados">
        <img src="/images/mensajesg_modulo.png">
      </a>
    </div>
  </div>
</div>
<div id="audioConfigModal" class="modal fade menuContext" tabindex="-1">
  <div class="modal-body">
    <div class="text-center">
      <div class="text-center">
        <h3>Doble click para desactivar el audio o espera para continuar</h3>
        <a id='disableAudio' href="/dictado" class='menuOption optionSelected btn btn-defaut' data-textAudio="Doble Click para desactivar el audio, o espera para continuar;">
            <img src="/images/config_no_audio.png" >
        </a>
        <br>
        <br>
        <p><i class='fa fa-refresh fa-spin fa-3x'></i></p>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="text-left">
        <button type='button' class='btn-xs returnButton btn btn-danger' data-dismiss='modal'><i class='fa fa-2x fa-share fa-rotate-180'></i></button>
    </div>
  </div>
</div>
<% var extraJs = 'main'; %>
<% include footer.html %>