<% include header.html %>
<div class="menuContext text-center" data-audio='Menú de necesidades básicas'>
<br><br>
<br><br><br>
  <div class="row">
    <div class="col-xs-4 col-xs-offset-2">
      <button class='btn menuOption btn-default' data-msg="Quiero ir al baño" data-audio="Quiero ir al baño">
        <img src="/images/banio.png">
      </button>
    </div>
    <div class="col-xs-4">
      <button href='#' class='btn menuOption btn-default' data-audio="Quiero moverme" data-msg="Quiero moverme">
        <img src="/images/mover.png">
      </button>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-4">
      <button class='btn menuOption btn-default' data-audio="Quiero ir a dormir" data-msg="Quiero ir al dormir">
        <img src="/images/sleep.png">
      </button>
    </div>
    <div class="col-xs-4">
      <button class='btn menuOption btn-default' data-audio="Quiero agua" data-msg="Quiero agua">
        <img src="/images/bottle_water.png">
      </button>
    </div>
    <div class="col-xs-4">
      <button class='btn menuOption btn-default' data-audio="Comida" data-msg="Quiero comer">
        <img src="/images/food.png">
      </button>
    </div>
  </div>
</div>
<% include footer.html %>