<% include header.html %>
<div class="menuContext text-center" data-audio='menu-de-necesidades-basicas'>
<br><br>
<br><br><br>
  <div class="row">
    <div class="col-xs-4 col-xs-offset-2">
      <button class='btn menuOption btn-default' data-msg="Quiero ir al baño" data-audio="quiero-ir-al-baño">
        <img src="/images/banio.png">
      </button>
    </div>
    <div class="col-xs-4">
      <button href='#' class='btn menuOption btn-default' data-audio="quiero-moverme" data-msg="Quiero moverme">
        <img src="/images/mover.png">
      </button>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-4">
      <button class='btn menuOption btn-default' data-audio="tengo-sueño" data-msg="Tengo sueño">
        <img src="/images/sleep.png">
      </button>
    </div>
    <div class="col-xs-4">
      <button class='btn menuOption btn-default' data-audio="quiero-agua" data-msg="Quiero agua">
        <img src="/images/bottle_water.png">
      </button>
    </div>
    <div class="col-xs-4">
      <button class='btn menuOption btn-default' data-audio="tengo-hambre" data-msg="Tengo hambre">
        <img src="/images/food.png">
      </button>
    </div>
  </div>
  <div class="row">
    <a href="/" class='btn'></a>
  </div>
</div>
<% include footer.html %>