/*bower*/
@import url('bootstrap.min.css');
@import url('font-awesome.min.css');
@import url('bootstrap-modal.css');
@import url('bootstrap-modal-bs3patch.css');

/*@import url('../bower_components/bootstrap/dist/css/bootstrap-theme.min.css');*/

#testSignals {position: absolute;bottom: 0;z-index: 99999;width: 100%;text-align: right;}
#testSignals ul{list-style-type: none;}
#testSignals ul li{float: none;display: inline;}
body{background: #DDDDDD}
.modal .loading-mask{z-index: 100}
.container{max-width: 976px}
.menuContext .btn{padding: 10px 3em}
.menuContext .btn img{width: 115px;height: 115px}
header .navbar .navbar-nav>li>a{padding: 11px}
/*header .btn-default{color: black !important}*/
.menuContext .menuOption{text-align: center;background: white;color: black; }
.menuContext .menuOption span{display: block;font-size: 18px}
.menuContext .menuOption:active,.menuContext .menuOption:focus{background: white;border-color: black}
.menuContext .menuOption.optionSelected{background: #2780e3 !important;border-color: #2780e3 !important}
@media (min-width: 768px) {
    .navbar-centered .navbar-nav {float: none;text-align: center;}
    .navbar-centered .navbar-nav > li {float: none;}
    .navbar-centered .nav > li {display: inline;}
    .navbar-centered .nav > li > a {display: inline-block;}
}
/*dictado*/
#keyboard > div{margin-bottom: 10px}
#keyboard button {font-size: 45px;padding: 2px 30px}
#textArea{padding: 10px;background: white;font-size: 30px}
#keyboard .keyOption{background: white;color: black; }
#keyboard .keyOption:active,#keyboard .keyOption:focus{background: white;border-color: black}
#keyboard .keyOption.optionSelected{background: #2780e3 !important;border-color: #2780e3 !important}
#suggestsModal .modal-body button{width: 100%;font-size: 40px;padding: 0}
.msgToDiv{margin-left: 35px}
.msgSendModalSuccess{background: #B0FBCF}
.msgSendModalWarnning{background: #F1E3AF}
.disableKey{background: #AFAFAF}